<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= @post.title %>
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content">
      <%= @post.content %>
      <br>
      <%= time_tag(@post.created_at) %>
    </div>
  </div>
  <footer class="card-footer">
    <%= link_to "Edit", edit_post_path(@post), class: 'card-footer-item' %>
    <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure you want to delete this post?"}, class: 'card-footer-item' %>
    <%= link_to "Return to post list", root_path, class: 'card-footer-item' %>
  </footer>
</div>
